@model IEnumerable<App.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airplane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline.Iata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane.AirplaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightnoNavigation.Flightno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromNavigation.Icao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToNavigation.Icao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FlightId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FlightId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FlightId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
